/* Manin */

@mixin ancla {
    text-transform: uppercase;
    font-weight: bold;
}

main {
    margin: 10px;
}

h1 {
    text-decoration: underline;
    margin: 30px 10px;
    font-size: 35px;
}

p {
    font-size: 25px;
}

.flyer {
    color: black;
    margin-top: 12%;
}


.contacto {
    width: 1;
    display: inline;
}

iframe {
    width: 100%;
}

h2 {
    font-size: 30px;
}


/* Tarjetas */


.tarjetas {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    border: 1px solid black;
    align-items: center;
    display: inline-block;
    transition: 1s;
}

.img {
    height: 50%;
    width: 50%;
}

.tarjetas:hover {
    background-color: $color-rojo;
    height: 500px;
    width: 500px;
}

h3 {
    @include ancla
}