/* Manin */

@mixin ancla {
    text-transform: uppercase;
    font-weight: bold;
}

@mixin tarjeta {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    border: 1px solid black;
    align-items: center;
    display: inline-block;
    transition: 1s;
}

main {
    margin: 10px;
}

h1 {
    text-decoration: underline;
    margin: 30px 10px;
    font-size: 35px;
}

p {
    font-size: 25px;
}

.flyer {
    color: black;
    margin-top: 12%;
}


.contacto {
    width: 1;
    display: inline;
}

iframe {
    width: 100%;
}

h2 {
    font-size: 30px;
}


/* Tarjetas */

@media (min-width:1439px){
    .tarjetas {
        height: 20vw;
        width: 20vw;
        @include tarjeta
    }
    
}

@media (min-width: 1361px) and (max-width:1438px){
    .tarjetas {
        height: 25vw;
        width: 25vw;
        @include tarjeta
    }
    
    
}

@media (min-width: 1200px) and (max-width:1360px){
    .tarjetas {
        height: 30vw;
        width: 30vw;
        @include tarjeta
    }
    
    
}

@media (min-width: 800px) and (max-width:1199px){
    .tarjetas {
        height: 50vw;
        width: 50vw;
        @include tarjeta
    }
    
    
}

@media (min-width: 350px) and (max-width:799px){
    .tarjetas {
        height: 90vw;
        width: 90vw;
        @include tarjeta
    }
}

.img {
    height: 50%;
    width: 50%;
}

.tarjetas:hover {
    background-color: $color-rojo;
}

h3 {
    @include ancla
}