* {
    margin: 0;
    padding: 0;
}

/* body */

body {
    background-color: antiquewhite;
    text-align: center;
    display: block;
}

img {
    width: 50%;
    margin: 2% 0%;
}

/* Ul */

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    padding: 2% 0% 0% 0%;
}